:root{
	--main_background_color: #292727;
}

body{
	background-color: var(--main_background_color);
}

#all{
	background-color: var(--main_background_color);
	display: none;
}


form{
	color:white;
	font-family: FontAwesome;
}


header{
	font-family: Oswald;
	font-size:18px;
	font-weight: bold;
}

footer{
	background-color: #1e1e1f;

}

.nav_background{
	background-color: none;
	transition: background-color 200ms linear;
}

.nav_background.scrolled {
  background-color: #1e1e1f !important;
  transition: background-color 200ms linear;
}

h1,h2,h3,h4,h5,h6{
	color:white;
	font-weight: bold;
}

.nav-color> li{
	color:#453611;
}

.main_image{
	max-width: 100%;
}

.overlay{
	 position: relative;
	 text-align: center;
	 color: white;
}

a{
	color:white;
}

p{
	color:white;
}



figure{margin:0;transform:translate(-50%,-50%) rotate(0deg) scale(1.4,1.4);position:absolute;left:50%;top:50%;border-radius:150px;box-sizing:border-box;animation:rotation 20s infinite linear;}

figure div:after{content:"";width:20px;height:20px;border:1px solid #fff;box-sizing:border-box;position:absolute;left:20px;top:20px;animation:shuffle 2s infinite;}

figure div:nth-child(1){transform:rotate(0deg)}
figure div:nth-child(1):after{animation-delay:-0.5s;}
figure div:nth-child(2){transform:rotate(45deg)}
figure div:nth-child(2):after{animation-delay:-1s;}
figure div:nth-child(3){transform:rotate(90deg)}
figure div:nth-child(3):after{animation-delay:-1.5s;}
figure div:nth-child(4){transform:rotate(135deg)}
figure div:nth-child(4):after{animation-delay:-2s;}
figure div:nth-child(5){transform:rotate(180deg)}
figure div:nth-child(5):after{animation-delay:-2.5s;}
figure div:nth-child(6){transform:rotate(225deg)}
figure div:nth-child(6):after{animation-delay:-3s;}
figure div:nth-child(7){transform:rotate(270deg)}
figure div:nth-child(7):after{animation-delay:-3.5s;}
figure div:nth-child(8){transform:rotate(315deg)}
figure div:nth-child(8):after{animation-delay:-4;}

@keyframes rotation{
  100%{transform:translate(-50%,-50%) rotate(-360deg) scale(1.4,1.4);}
}
@keyframes shuffle{
  50%{transform:scale(0.4,0.4) rotate(-90deg);border-radius:50%;}
}


@media(min-width: 0px){
	
	.nav_header{
		font-weight: bold;
		font-size:22px;
		font-family: Oswald;
	}
	.header_main{
	font-weight: bold;
	font-size:30px;
	font-family: Oswald;
	}
	.header_main_alt{
	font-weight: bold;
	font-size:30px;
	font-family: Oswald;
	color:white;
	}

	.carousel_font{
		font-size:15px;
		color:white;
	}
	.display_sm{
		display: inherit;
	}
	.nodisplay_sm{
		display: none
	}
	.overlay_text{
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 27px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.overlay_text_2{
	 position: absolute;
	 top: 70%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 18px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.shadow{
		-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
		height: 8rem;
		width: 80%;
		margin-left: 13%;
		margin-top: 15px;
		font-family: Oswald;
		padding: 5px;
		border-radius: 8px;
		padding-top:19%;
	}
	.box_text{
		font-size: 18px;
	}

	.button_projects{
		background-color: white;
		font-size:20px;
		font-weight: bold;
		font-family: FontAwesome;
		border-color:white;

	}
	.address{
		font-family: FontAwesome;
		font-size:23px;
		font-weight: bold;
		color:white;
	}
	.services{
	color:white;
	font-family: Oswald;
	font-size: 22px;
	text-align: center;
	border:1px solid var(--main_background_color);
	padding: 5px;
	border-radius:5px;
}


		
}

@media(min-width:700px){
	.nav_header{
		font-weight: bold;
		font-size:25px;
		font-family: Oswald;
	}
	.header_main{
	font-weight: bold;
	font-size:40px;
	}
	.header_main_alt{
	font-weight: bold;
	font-size:30px;
	font-family: Oswald;
	}
	.carousel_font{
		font-size:20px;
	}
	.overlay_text{
	 position: absolute;
	 top: 65%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 30px;
	 color:white
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.overlay_text_2{
	 position: absolute;
	 top: 70%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 20px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}

	.shadow{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	
	height: 10rem;
	padding: 10px;
	width: 18rem;
	width: 100%;
	margin-left: 0;
	margin-top: 10px;
	padding-top:12%;
	}
	.box_text{
		font-size: 25px;
	}
	.display_lg{
		display: inherit;
	}
	.nodisplay_lg{
		display: none
	}
	.address{
		font-family: FontAwesome;
		font-size:30px;
		font-weight: bold;
		color:white;
	}
	.button_projects{
		background-color: white;
		font-size:20px;
		font-weight: bold;
		font-family: FontAwesome;
		border-color:white;

	}
	.services{
	color:white;
	font-family: Oswald;
	font-size: 25px;
	text-align: center;
	border:1px solid var(--main_background_color);
	padding: 5px;
	border-radius:5px;
}

}

@media(min-width: 1000px){
	.nav_header{
		font-weight: bold;
		font-size:28px;
		font-family: Oswald;
		
	}
	.header_main{
	font-weight: bold;
	font-size:50px;
	}
	.header_main_alt{
	font-weight: bold;
	font-size:30px;
	font-family: Oswald;
	}
	.carousel_font{
		font-size:25px;
	}
	.display_lg{
		display: inherit;
	}
	.nodisplay_lg{
		display: none
	}
	.overlay_text{
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 50px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.overlay_text_2{
	 position: absolute;
	 top: 70%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 50px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.shadow{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	height: 10rem;
	width: 16rem;
	width: 100%;
	margin-left: 0;
	margin-top: 0px;
	padding-top:16%;
	}

	.box_text{
		font-size: 28px;
	}
	.address{
		font-family: FontAwesome;
		font-size:30px;
		font-weight: bold;
		color:white;
	}
	.button_projects{
		background-color: white;
		font-size:20px;
		font-weight: bold;
		font-family: FontAwesome;
		border-color:white;

	}
	.services{
	color:white;
	font-family: Oswald;
	font-size: 30px;
	text-align: center;
	border:1px solid var(--main_background_color);
	padding: 5px;
	border-radius:5px;
}

}