:root{
	--main_background_color: #292727;
}

body{
	background-color: var(--main_background_color);
	display:none;
}


header{
	font-family: Oswald;
	font-size:18px;
	font-weight: bold;
}

.nav_background{
	background-color: none;
}

.nav_background.scrolled {
  background-color: #292727 !important;
  transition: background-color 200ms linear;
}

h1,h2,h3,h4,h5,h6{
	color:white;
	font-weight: bold;
}

.nav-color> li{
	color:#453611;
}

.main_image{
	max-width: 100%;
}

.overlay{
	 position: relative;
	 text-align: center;
	 color: white;
}

a{
	color:white;
}

p{
	color:white;
}



@media(min-width: 0px){
	
	.nav_header{
		font-weight: bold;
		font-size:22px;
		font-family: Oswald;
	}
	.header_main{
	font-weight: bold;
	font-size:30px;
	font-family: Oswald;
	}
	.header_main_alt{
	font-weight: bold;
	font-size:30px;
	font-family: Oswald;
	color:white;
	}

	.carousel_font{
		font-size:15px;
		color:white;
	}
	.display_sm{
		display: inherit;
	}
	.nodisplay_sm{
		display: none
	}
	.overlay_text{
	 position: absolute;
	 top: 27%;
	 left: 60%;
	 transform: translate(-50%, -50%);
	 font-size: 27px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.overlay_text_2{
	 position: absolute;
	 top: 32%;
	 left: 55%;
	 transform: translate(-50%, -50%);
	 font-size: 18px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.shadow{
		-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
		height: 8rem;
		width: 80%;
		margin-left: 13%;
		margin-top: 15px;
		font-family: Oswald;
		padding: 5px;
		border-radius: 8px;
		padding-top:19%;
	}
	.box_text{
		font-size: 18px;
	}

	.button_projects{
		background-color: white;
		font-size:20px;
		font-weight: bold;
		font-family: FontAwesome;
		border-color:white;

	}
	.address{
		font-family: FontAwesome;
		font-size:20px;
		font-weight: bold;
		color:white;
	}

		
}

@media(min-width:700px){
	.nav_header{
		font-weight: bold;
		font-size:25px;
		font-family: Oswald;
	}
	.header_main{
	font-weight: bold;
	font-size:40px;
	}
	.header_main_alt{
	font-weight: bold;
	font-size:30px;
	font-family: Oswald;
	}
	.carousel_font{
		font-size:20px;
	}
	.overlay_text{
	 position: absolute;
	 top: 30%;
	 left: 24%;
	 transform: translate(-50%, -50%);
	 font-size: 30px;
	 color:white
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.overlay_text_2{
	 position: absolute;
	 top: 40%;
	 left: 15%;
	 transform: translate(-50%, -50%);
	 font-size: 20px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}

	.shadow{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	
	height: 10rem;
	padding: 10px;
	width: 18rem;
	width: 100%;
	margin-left: 0;
	margin-top: 10px;
	padding-top:12%;
	}
	.box_text{
		font-size: 25px;
	}
	.display_lg{
		display: inherit;
	}
	.nodisplay_lg{
		display: none
	}
	.address{
		font-family: FontAwesome;
		font-size:30px;
		font-weight: bold;
		color:white;
	}
}

@media(min-width: 1000px){
	.nav_header{
		font-weight: bold;
		font-size:28px;
		font-family: Oswald;
		
	}
	.header_main{
	font-weight: bold;
	font-size:50px;
	}
	.header_main_alt{
	font-weight: bold;
	font-size:30px;
	font-family: Oswald;
	}
	.carousel_font{
		font-size:25px;
	}
	.display_lg{
		display: inherit;
	}
	.nodisplay_lg{
		display: none
	}
	.overlay_text{
	 position: absolute;
	 top: 30%;
	 left: 23%;
	 transform: translate(-50%, -50%);
	 font-size: 50px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.overlay_text_2{
	 position: absolute;
	 top: 40%;
	 left: 19%;
	 transform: translate(-50%, -50%);
	 font-size: 50px;
	 color:white;
	 width: 100%;
	 font-weight: bold;
	 font-family: Oswald;
	}
	.shadow{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	height: 10rem;
	width: 16rem;
	width: 100%;
	margin-left: 0;
	margin-top: 0px;
	padding-top:16%;
	}

	.box_text{
		font-size: 28px;
	}
	.address{
		font-family: FontAwesome;
		font-size:30px;
		font-weight: bold;
		color:white;
	}
}